<div class="row">
  <div class="left">Lists</div>
  <div class="right">
    <form>
      <p>
        {{input type=text value=newAchievement}}
      </p>
      <p><button {{action addAchievement}}>Add</button></p>
    </form>

    <h3>Achievements</h3>
    <hr />
    <ul>
      {{#each controller}}
        <li>
          <span>{{ date achievedAt }}</span> {{title}}
        </li>
      {{else}}
        <li>There are no achievements</li>
      {{/each}}
    </ul>
  </div>
</div>